.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1100px;
  height: 100%;
  margin: auto;
}

.optionContainer {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.options {
  margin-left: 20px;
  width: 100px;
}

.graphContainer {
  width: 100%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
}
